@use "tailwindcss";

@theme{
  --font-sans: ui-sans-serif, system-ui, sans-serif, 'Nova Mono';
  --font-serif: ui-serif, Georgia, Cambria, 'Orbitron', Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Nova Mono', monospace;
  --color-alien-green-50: #f0fdf4;
  --color-alien-green-100: #dbfde6;
  --color-alien-green-200: #baf8cf;
  --color-alien-green-300: #84f1aa;
  --color-alien-green-400: #48e07d;
  --color-alien-green-500: #1db954;
  --color-alien-green-600: #14a547;
  --color-alien-green-700: #13823b;
  --color-alien-green-800: #156633;
  --color-alien-green-900: #13542c;
  --color-alien-green-950: #042f15;
  --color-ebony-50: #eff5fe;
  --color-ebony-100: #e2ecfd;
  --color-ebony-200: #cbdcfa;
  --color-ebony-300: #acc4f5;
  --color-ebony-400: #8aa3ef;
  --color-ebony-500: #6e84e6;
  --color-ebony-600: #5260d9;
  --color-ebony-700: #434ebf;
  --color-ebony-800: #39439a;
  --color-ebony-900: #343d7b;
  --color-ebony-950: #0f1123;
}
