<a [routerLink]="['/search/image', image.data[0].nasaId]">
  <div class="group relative rounded cursor-pointer overflow-hidden">
    <div class="relative w-full lg:h-80 overflow-hidden">
      <img
        [src]="image.links[0].href"
        [alt]="image.data[0].description"
        class="aspect-square w-full bg-gray-200 object-cover lg:aspect-auto lg:h-80 transition-transform duration-500 ease-in-out group-hover:scale-105"
      >

      <div class="absolute inset-0 bg-gradient-to-t from-ebony-700/80 to-transparent pointer-events-none"></div>
      <div class="mt-4 flex justify-between">
        <div class="absolute bottom-8 left-3 right-3 flex justify-between items-center z-10">
          <div class="flex flex-col">
            <h3 class="max-w-45 text-sm text-ebony-50 truncate overflow-hidden">
              <span aria-hidden="true" class="absolute inset-0"></span>
              {{ image.data[0].title }}
            </h3>
            <p class="mt-1 text-sm text-ebony-200">{{ image.data[0].dateCreated | date:'longDate' }}</p>
          </div>
          <div class="h-10 w-10 rounded-full bg-ebony-200 flex items-center justify-center group-hover:bg-ebony-400 transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-ebony-800" viewBox="0 0 448 512">
              <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
